<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>700827434064-b6urbn4lp933sb3cghsk0i5i8k6sovot.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.700827434064-b6urbn4lp933sb3cghsk0i5i8k6sovot</string>
	<key>API_KEY</key>
	<string>AIzaSyA6cRmRVLujwOq5Yw1mQeCp7IVv4HftcNU</string>
	<key>GCM_SENDER_ID</key>
	<string>700827434064</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>shealabs.setlist</string>
	<key>PROJECT_ID</key>
	<string>setlist-91ac5</string>
	<key>STORAGE_BUCKET</key>
	<string>setlist-91ac5.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:700827434064:ios:33d42b35441389ec</string>
	<key>DATABASE_URL</key>
	<string>https://setlist-91ac5.firebaseio.com</string>
</dict>
</plist>